.container {
  padding: 20px 40px 40px;
  position: relative;
  background: #ffffff;
  height: 100%;
}

.emptyMessage {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  pointer-events: none;
  text-align: center;
  padding: 60px 20px;
  color: #777;
  font-size: 18px;
}
@media (max-width: 768px) {
  .container {
    padding: 16px 20px 20px;
  }
  .emptyMessage {
    padding: 40px 20px;
    font-size: 1rem;
  }
}
