.form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.input {
  width: 312px;
  height: 44px;
  border: 1px solid #ddd;
  padding: 0px 12px;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
}

input:focus {
  border-color: #2563eb;
}
.inputGroup {
  width: 312px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.label {
  font-size: 16px;
  color: #242d35;
  font-weight: 400;
}

.amountFieldWrapper input {
  text-align: left;
  direction: ltr;
}
.dateFieldWrapper,
.amountFieldWrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}
.calendarIcon {
  position: absolute;
  border: none;
  background: transparent;
  top: 50%;
  left: 10px;
  transform: translateY(-40%);
  pointer-events: auto;
  cursor: pointer;
  z-index: 2;
}
.radioGroup {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 10px;
}

.radioLabel {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 400;
  color: #242d35;
  cursor: pointer;
}
.radioLabel input {
  width: 18px;
  height: 18px;
}
.transDesc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 16px;
}
.cancelBtn {
  width: 75px;
  height: 32px;
  padding: 0 15px;
  background: #ffffff;
  color: #242d35;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}
.submitBtn {
  width: 58px;
  height: 32px;
  padding: 0px 16px;
  background: #0e33f3;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
}
.errorText {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  bottom: -24px;
  color: var(--red);
  font-size: 14px;
}
@media (max-width: 768px) {
  .form {
    padding: 0px 15px;
    gap: 24px;
  }
  .input {
    width: 240px;
    height: 40px;
  }
  .inputGroup {
    width: 240px;
  }
  .cancelBtn,
  .submitBtn {
    width: 180px;
    height: 40px;
    padding: 0px 15px;
  }
  .label {
    font-size: 14px;
    font-weight: 400;
  }
  .errorText {
    width: 240px;
    font-size: 12px;
    bottom: -20px;
  }
}
