.container {
  width: 812px;
  text-align: right;
  padding: 36px 24px;
  font-size: 20px;
  font-weight: 600;
  top: 20%;
  left: 50%;
  border-radius: 16px;
  transform: translateX(-50%);
  color: #242d35;
  position: absolute;
  background: #ffffff;
}
@media (max-width: 768px) {
  .container {
    width: 420px;
  }
}
