@import url("../../assets/fonts/vazirmatn.css");

.loadingPage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.text {
  font-family: "Vazirmatn", sans-serif;
  font-weight: 600;
  color: #ccc;
  z-index: 100;
  padding-right: 20px;
}
.loader {
  width: 50px;
  height: 50px;
  border: 5px solid #fff;
  border-bottom-color: #07a2eb;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  animation: rotation 0.7s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
