.row {
  display: grid;
  grid-template-columns: 1fr 1.2fr 1.2fr 1.8fr 0.6fr;
  padding: 14px 12px;
  align-items: center;
}

.actionsCell {
  display: flex;
  justify-content: center;
}

.empty {
  color: transparent;
}

.dateCell {
  font-size: 1rem;
  color: #333;
}

.income {
  color: var(--green);
}

.expense {
  color: var(--red);
}

.income,
.expense {
  font-weight: 600;
}

.currency {
  display: none;
}

.descriptionCell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  color: #555;
}

.menuContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuDropdown {
  width: 113px;
  height: 92px;
  padding: 10px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
  position: absolute;
  left: 0;
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.menuDown {
  top: 100%;
  margin-top: 4px;
}

.menuUp {
  bottom: 100%;
  margin-bottom: 4px;
}

.actionMenu {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 5px;
}

.actionMenu:hover {
  opacity: 0.8;
}

.trashBtn,
.editBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 2px;
  border-radius: 4px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  gap: 8px;
  transition: opacity 0.2s;
  opacity: 0.9;
}

.trashBtn {
  margin: 5px 0px 0px 10px;
}

.trashBtn:hover,
.editBtn:hover {
  opacity: 0.6;
}

@media (max-width: 805px) {
  .row {
    grid-template-columns: 2.2fr 1fr;
    grid-template-areas:
      "date amount"
      "desc desc"
      "actions actions";
    background: #fafafa;
    border-radius: 12px;
    padding: 16px;
    margin-bottom: 12px;
    border: none;
    position: relative;
  }

  .currency {
    display: inline;
    margin-right: 5px;
  }

  .dateCell {
    grid-area: date;
    font-size: 14px;
  }

  .income,
  .expense {
    grid-area: amount;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
  }

  .income {
    color: var(--green);
  }

  .expense {
    color: var(--red);
  }

  .empty {
    display: none;
  }

  .descriptionCell {
    font-size: 15px;
    line-height: 1.6;
    margin-top: 10px;
    align-self: flex-start;
  }

  .actionsCell {
    grid-area: actions;
    justify-content: flex-end;
    margin-top: -25px;
  }
}
