.row {
  display: grid;
  grid-template-columns: 1fr 1.2fr 1.2fr 1.8fr 0.6fr;
  padding: 14px 12px;
  align-items: center;
}

.actionsCell {
  display: flex;
  justify-content: center;
}

.empty {
  color: transparent;
}

.dateCell {
  font-size: 1rem;
  color: #333;
}
.income {
  color: var(--green);
}
.expense {
  color: var(--red);
}
.income,
.expense {
  font-weight: 600;
}
.currency {
  display: none;
}

.descriptionCell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: hidden;
  font-weight: 600;
  color: #555;
}

@media (max-width: 768px) {
  .row {
    grid-template-columns: 2.2fr 1fr;
    grid-template-areas:
      "date amount"
      "desc desc"
      "actions actions";
    background: #fafafa;
    border-radius: 12px;
    padding: 16px;
    margin-bottom: 12px;
    border: none;
    position: relative;
  }

  .currency {
    display: inline;
    margin-right: 5px;
  }
  .dateCell {
    grid-area: date;
    font-size: 14px;
  }

  .income,
  .expense {
    grid-area: amount;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
  }
  .income {
    color: var(--green);
  }
  .expense {
    color: var(--red);
  }
  .empty {
    display: none;
  }
  .descriptionCell {
    font-size: 15px;
    line-height: 1.6;
    margin-top: 10px;
    align-self: flex-start;
  }
  .actionsCell {
    grid-area: actions;
    justify-content: flex-end;
    margin-top: -25px;
  }
}
