.header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 24px 40px 0;
  margin: 0 auto;
  background: #ffffff;
  position: relative;
}

.addTranBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 10px;
  width: 199px;
  height: 48px;
  background: #0b32f4;
  color: white;
  font-size: 20px;
  font-weight: 400;
  border: none;
  border-radius: 8px;
  padding: 4px 24px;
  cursor: pointer;
  transition: background 0.2s;
}
.addTranBtn:hover {
  background-color: #4e33f3;
}

.pageContainer {
  position: absolute;
  top: 15%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 816px;
  height: 80vh;
  border-radius: 10px;
  overflow: hidden;
}
.title {
  font-size: 20px;
  font-weight: 600;
  color: #242d35;
  margin: 0;
}
.errorMessage,
.successMessage {
  background: #ef4444;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 15px;
}
.successMessage {
  background: #2de24b;
}

@media (max-width: 805px) {
  .header {
    padding: 16px 20px 0px;
    max-width: 100%;
  }
  .pageContainer {
    width: 420px;
    max-height: 875px;
  }
}
@media (max-width: 468px) {
  .pageContainer {
    width: 95%;
  }
}
