.header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 24px 40px 0;
  max-width: 100%;
  margin: 0 auto;
}
.pageContainer {
  width: 70%;
  margin: 40px auto;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}
.title {
  font-size: 20px;
  font-weight: 600;
  color: #242d35;
  margin: 0;
}
@media (max-width: 768px) {
  .header {
    padding: 16px 20px 0px;
    max-width: 100%;
  }
  .pageContainer {
    width: 85%;
  }
}
@media (max-width: 468px) {
  .pageContainer {
    width: 95%;
  }
}
