.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 40px;
  height: 65px;
  background: #ffffff;
}
.nav {
  display: flex;
  align-items: center;
  gap: 20px;
}
.navBar {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
}
.navList {
  display: flex;
  list-style: none;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoIcon {
  width: 32px;
  height: 32px;
}
.logoText {
  width: 46px;
  height: 15px;
}
.link {
  display: inline-block;
  text-decoration: none;
  color: #242d35;
  padding: 20px 10px;
  margin: 0px 2px 0px 0px;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.2s;
}
.exitContainer {
  margin-top: auto;
  left: 4%;
  position: absolute;
}
.exitContainer button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  padding: none;
  cursor: pointer;
}
.exitContainer img {
  transition: 0.7s all;
}
.exitContainer img:hover {
  transform: scale(1.2);
}
.active {
  background: #0b32f4;
  color: #ffffff;
}

@media (max-width: 768px) {
  .header {
    padding: 0px 20px 0px 0px;
  }
  .nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
}
