.content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.message {
  font-size: 16px;
  font-weight: 400;
  color: #242d35;
  margin: 0;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.cancelBtn,
.confirmBtn {
  border: 1px solid #dcdfe3;
  padding: 0 16px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 500;
}

.cancelBtn {
  width: 75px;
  height: 32px;
  background: white;
  color: #242d35;
}

.confirmBtn {
  width: 66px;
  height: 32px;
  background: #ef4e4e;
  color: white;
  border: none;
}

@media (max-width: 768px) {
  .content {
    gap: 24px;
    padding: 0 15px;
  }

  .message {
    text-align: center;
    font-size: 14px;
  }

  .buttons {
    justify-content: center;
  }

  .cancelBtn,
  .confirmBtn {
    width: 182px;
    height: 40px;
    font-size: 16px;
  }
}
