.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.2s ease-out;
  z-index: 100;
}

.modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20%;
  gap: 40px;
  padding: 15px 30px;
  background: #ffffff;
  border-radius: 12px;
  width: 520px;
  height: 204px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  animation: slideUp 0.3s ease-out;
  z-index: 101;
}

.deleteWrapper {
  display: flex;
  justify-content: space-between;
}
.title,
.message {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 12px;
  line-height: 22px;
  color: #242d35;
  text-align: right;
}
.message {
  font-weight: 400;
  margin: 0;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
.closeBtn {
  background: none;
  border: none;
  cursor: pointer;
}
.cancelBtn,
.confirmBtn {
  border: 1px solid #dcdfe3;
  padding: 0px 16px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s;
  font-weight: 500;
  color: #242d35;
}

.cancelBtn {
  width: 75px;
  height: 32px;
  background: #f0f0f0;
  color: #333;
}

.cancelBtn:hover {
  background: #e0e0e0;
}

.confirmBtn {
  width: 66px;
  height: 32px;
  background: #ef4e4e;
  color: white;
}

.confirmBtn:hover {
  background: #dc2626;
  transform: scale(1.01);
}
.line {
  display: flex;
  margin: 0px auto;
  width: 24px;
  border: 2px solid #d1d4dd;
  border-radius: 5px;
  display: none;
}

@media (max-width: 768px) {
  .overlay {
    align-items: flex-end;
  }
  .modal {
    position: fixed;
    bottom: 0;
    top: auto;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 412px;
    margin: 0 auto;
    border-radius: 16px 16px 0 0;
    padding: 16px 16px 24px;
    animation: slideUp 0.3s ease-out;
    gap: 24px;
  }
  .title {
    text-align: center;
    margin: 0 auto;
  }

  .message {
    font-size: 14px;
  }

  .buttons {
    flex-direction: row;
  }

  .cancelBtn,
  .confirmBtn {
    width: 182px;
    height: 40px;
    font-size: 16px;
  }
  .line {
    display: flex;
    cursor: pointer;
  }
  .closeBtn {
    display: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 380px) {
  .modal {
    width: 100%;
  }
}
