@import url("./assets/fonts/vazirmatn.css");

html {
  direction: rtl;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Vazirmatn", sans-serif;
}

body {
  background: #b0b8bf;
}

:root {
  --green: #3ebd93;
  --red: #ef4e4e;
  --border: #b7d8fa;
  --text-muted: #888;
}
