.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: white;
  border-radius: 12px;
  width: 520px;
  padding: 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  direction: rtl;
}
.line {
  display: flex;
  margin: 0px auto 25px;
  width: 24px;
  border: 2px solid #d1d4dd;
  border-radius: 5px;
  display: none;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px 12px;
  margin-bottom: 10px;
}

.modalTitle {
  font-size: 16px;
  font-weight: 400;
  color: #444;
}
.closeBtn {
  background: none;
  border: none;
  cursor: pointer;
}
@media (max-width: 768px) {
  .modal {
    width: 412px;
  }
  .header {
    justify-content: center;
  }
  .closeBtn {
    display: none;
  }
  .line {
    display: flex;
  }
}
