.container {
  width: 448px;
  text-align: center;
  padding: 36px 24px;
  font-size: 20px;
  font-weight: 600;
  top: 20%;
  left: 50%;
  border-radius: 16px;
  transform: translateX(-50%);
  color: #242d35;
  position: absolute;
  background: #ffffff;
}
.container h2 {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 600;
}
@media (max-width: 768px) {
  .container {
    width: 412px;
    height: 388px;
    padding: 20px;
  }
}
@media (max-width: 480px) {
  .container {
    width: 80%;
    padding: 20px;
  }
  .container h2 {
    font-size: 16px;
  }
}
